manifest {
    name = 'PanPhyloFlow'
    author = 'Muhammad Bilal'
    homePage = 'https://github.com/mbilal-OU/PanPhyloFlow'
    description = 'Teaching-oriented microbial gene-family pangenome and core-phylogeny workflow'
    mainScript = 'main.nf'
    version = '0.1.0'
    nextflowVersion = '>=24.10.0'
}

params {
    input = null
    input_type = 'fasta'
    outdir = 'results'
    pangenome = 'panaroo'
    threads = 4
    core_threshold = 0.95
    panaroo_clean_mode = 'strict'
    panaroo_family_threshold = 0.70
    roary_identity = 95
    ufboot = 1000
    sh_alrt = 1000
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: annotation {
        cpus = params.threads
        memory = '8 GB'
    }

    withLabel: pangenome {
        cpus = params.threads
        memory = '16 GB'
    }

    withLabel: phylogeny {
        cpus = params.threads
        memory = '16 GB'
    }

    withLabel: reporting {
        cpus = 1
        memory = '4 GB'
    }
}

profiles {
    conda {
        conda.enabled = true
    }
}

report {
    enabled = true
    file = "${params.outdir}/nextflow_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace.tsv"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
    overwrite = true
}
